/*
=====
MAIN
=====
*/

body{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    margin: 0;
    min-height: 100vh;
}

p {
    text-align: center;
}

.page{
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-gap: 30px;
}

/* Error div styles */
.error {
    text-align: center;
    color: red;
    padding: 10px;
    width: auto;
    border: 1px solid #D32F2F;
    background-color: #FFEBEE;
    margin-top: 10px;
}

svg{
    width: 100%;
    max-width: 500px;
    border: 1px solid #D1C4E9;
}

/* Button styles */
.button {
    padding: 10px 20px;
    color: white;
    background-color: #673AB7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #5E35B1;
}

/* SVG wrapper styles */
.svg {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #d1c4e9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.input {
    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);

    background-color: transparent;
    border: 2px solid #673AB7;
    padding: 8px; 
    outline: 2px solid transparent; /* Initial outline (hidden) */
    border-radius: 4px; /* Optional: Adds rounded corners */
    transition: outline 0.2s ease-in-out, border-color 0.2s ease-in-out;

    font-family: inherit;
    font-size: inherit;

    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Input box for TcTurtle code 
.input-box {
    border: 2px solid #673AB7;
    border-radius: 5px;
    padding: 8px;
    font-size: 1em;
}

.input-box:focus {
    border-color: #673AB7;
    outline: none;
}*/

/* Color Title */
.color-title.small-font {
    font-size: 1em;
    font-weight: normal; 
    margin-bottom: 10px;
}

/* Input box for colors */
.color-inputs {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.small-input {
    width: 100px;
    padding: 5px; 
    font-size: 0.9em;
}


/* Outline on focus */
.input:focus {
    outline: 2px solid #673AB7; /* Purple outline when focused */
    border-color: #673AB7;      /* Match the border color to the outline */
    outline-offset: 2px;        /* Creates extra spacing between the input and outline */
}

.input:focus {
    border-color: #673AB7;
    outline: none;
}

.zoom-button {
    padding: 10px 15px; /* Size of the button */
    background-color: #1976D2; /* Blue color */
    color: white;
    border: none;
    border-radius: 3px; /* Slightly rounded corners */
    font-size: 14px; /* Smaller font size */
    font-weight: bold;
    margin: 5px; /* Space between buttons */
    cursor: pointer;
}

/* Hover effect */
.zoom-button:hover {
    background-color: #1565C0; /* Darker blue for hover */
    color: #E3F2FD; /* Slightly lighter white on hover */
}

/* Optional: Add consistent alignment for the zoom controls */
.zoom-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.zoom-controls > button {
    margin: 0 5px; /* Add horizontal margin between buttons */
}

/*
=====
RESET STYLES
=====
*/

.field__input{
    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);

    background-color: transparent;
    border-radius: 0;
    border: none;

    -webkit-appearance: none;
    -moz-appearance: none;

    font-family: inherit;
    font-size: inherit;
}

.field__input:focus::-webkit-input-placeholder{
    color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder{
    color: var(--uiFieldPlaceholderColor);
}

/*
=====
CORE STYLES
=====
*/

.field{
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);
    --uiFieldBorderColorActive: var(--fieldBorderColorActive, rgba(22, 22, 22, 1));

    display: var(--fieldDisplay, inline-flex);
    position: relative;
    font-size: var(--fieldFontSize, 1rem);
}

.field__input{
    box-sizing: border-box;
    width: var(--fieldWidth, 100%);
    height: var(--fieldHeight, 3rem);
    padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, rgba(0, 0, 0, .25));
}

.field__input:focus{
    outline: none;
}

.field__input::-webkit-input-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
}

.field__input::-moz-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
}

.field__input:focus::-webkit-input-placeholder{
    opacity: 1;
    transition-delay: .2s;
}

.field__input:focus::-moz-placeholder{
    opacity: 1;
    transition-delay: .2s;
}

.field__label-wrap{
    box-sizing: border-box;
    pointer-events: none;
    cursor: text;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.field__label-wrap::after{
    content: "";
    box-sizing: border-box;
    width: 100%;
    height: 0;
    opacity: 0;

    position: absolute;
    bottom: 0;
    left: 0;
}

.field__input:focus ~ .field__label-wrap::after{
    opacity: 1;
}

.field__label{
    position: absolute;
    left: var(--uiFieldPaddingLeft);
    top: calc(50% - .5em);

    line-height: 1;
    font-size: var(--fieldHintFontSize, inherit);

    transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
    will-change: bottom, opacity, font-size;
}

.field__input:focus ~ .field__label-wrap .field__label,
.field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label{
    --fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);

    top: var(--fieldHintTopHover, .25rem);
}

/*
effect 1
*/

.field_v1 .field__label-wrap::after{
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
    transition: opacity .2s ease-out;
    will-change: opacity;
}

/*
effect 2
*/

.field_v2 .field__label-wrap{
    overflow: hidden;
}

.field_v2 .field__label-wrap::after{
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
    transform: translate3d(-105%, 0, 0);
    will-change: transform, opacity;
    transition: transform .285s ease-out .2s, opacity .2s ease-out .2s;
}

.field_v2 .field__input:focus ~ .field__label-wrap::after{
    transform: translate3d(0, 0, 0);
    transition-delay: 0;
}

/*
effect 3
*/

.field_v3 .field__label-wrap::after{
    border: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
    will-change: opacity, height;
    transition: height .2s ease-out, opacity .2s ease-out;
}

.field_v3 .field__input:focus ~ .field__label-wrap::after{
    height: 100%;
}

/*
=====
LEVEL 4. SETTINGS
=====
*/

.field{
    --fieldBorderColor: #D1C4E9;
    --fieldBorderColorActive: #673AB7;
}

